/*
a,
li,
p,
h1,
h2,
div,
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    /*pseudo-elements*/
    box-sizing: inherit;
}

html {
    margin: 2.5rem;
    font-size: 16px;
    font-family: 'web font', 'osx fallback', 'win fallback', sans-serif;
    line-height: 1.5;
}

header {
    padding: 1.5rem 2.5rem;
    height: 335px;
    background-image: url(../img/WechatIMG5.jpeg);
    background-size: cover;
    background-position: center center;
    line-height: 1.2;
        
        /*
    background-color: antiquewhite;
    background-image: url(../img/css3.svg);
    background-size:20px 20px;
    background-repeat: no-repeat;
    background-position: center center;
*/
}
header>h1{
    color: hsl(155deg, 45%, 45%);
    font-size: 5.2rem;
    text-shadow: 1.5px 1.8px 2px hsl(155deg, 0%, 100%)
}
header>h2{
    color: hsl(155deg, 40%, 70%);
    font-size: 4.3rem;
    text-shadow: 2px 1.8px 2px hsl(155deg, 0%, 0%)
}

nav {
    padding: 0.7rem 2rem;
    font-size: 1.8rem;
    border-bottom: 17px solid hsl(155deg, 70%, 10%);
    background-color: hsl(155deg, 45%, 45%);
}

nav > a {
    color: white;
    padding-right: 4.5rem;
    font-weight: 100;
}

main {
    padding: 1rem 2rem;
    line-height: 1.8;
}
main>h1 {
    padding: 1.1rem 0rem;
    font-size: 3rem;
    color: hsl(155deg, 40%, 50%);
}
main>p {
    border-bottom: 15px solid white;
    font-weight: 200;
}
main>h2 {
    font-size: 1.5rem;
    color: hsl(155deg, 40%, 50%);
    border-bottom: 10px solid white;
}
main>ul>li {
    font-weight: 200;
    margin-left: 1.2rem;
}
section {
    padding: 1rem 2rem;
}

aside {
    padding: 1rem 2rem;
}

footer {
    padding: 1rem 2rem;
}